<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <!--
			<add name="GFW-Sync Fire Risk" path="fire_risk" verb="*" modules="CgiModule" scriptProcessor="C:\PYTHON27\ArcGIS10.3\python.exe D:\scripts\fire_risk\bucket_urls.py %s %s" resourceType="Unspecified" />
			-->
            <add name="GFW-Sync Download API" path="download" verb="*" modules="CgiModule" scriptProcessor="C:\PYTHON27\ArcGIS10.3\python.exe D:\scripts\gfw-sync\api\download.py %s %s" resourceType="Unspecified" requireAccess="Script" />
            <add name="GFW-Sync Metadata Layer" path="metadata/*" verb="*" modules="CgiModule" scriptProcessor="C:\PYTHON27\ArcGIS10.3\python.exe D:\scripts\gfw-sync\api\metadata_api.py %s %s" resourceType="Unspecified" requireAccess="Script" />
			<add name="GFW-Sync Metadata List" path="metadata" verb="*" modules="CgiModule" scriptProcessor="C:\PYTHON27\ArcGIS10.3\python.exe D:\scripts\gfw-sync\api\metadata_api.py %s %s" resourceType="Unspecified" requireAccess="Script" />
			<add name="GFW-Sync Metadata List Test" path="metadatatest" verb="*" modules="CgiModule" scriptProcessor="C:\PYTHON27\ArcGIS10.3\python.exe D:\scripts\gfw-sync\api\metadata_api_test.py %s %s" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
